[Unit]
Description=Sonatype Nexus

[Service]
Type=forking
EnvironmentFile=-/etc/default/nexus
PIDFile={{ nexus_dir_base }}/{{ nexus_service_name }}/bin/jsw/linux-x86-64/nexus.pid
ExecStart={{ nexus_dir_base }}/{{ nexus_service_name }}/bin/nexus start
ExecReload={{ nexus_dir_base }}/{{ nexus_service_name }}/bin/nexus restart
ExecStop={{ nexus_dir_base }}/{{ nexus_service_name }}/bin/nexus stop

[Install]
Alias=nexus
WantedBy=default.target
