[Unit]
Description=Sonatype Nexus

[Service]
Type=forking
EnvironmentFile=-/etc/default/nexus
PIDFile={{ nexus_dir_base }}/{{ nexus_service_name }}/bin/jsw/linux-x86-64/nexus.pid
ExecStart=/etc/init.d/nexus start
ExecReload=/etc/init.d/nexus restart
ExecStop=/etc/init.d/nexus stop

[Install]
Alias=nexus
WantedBy=default.target
